- unless f.object.new_record?
  %img{:src => f.object.image.url, :alt => f.object.image_file_name, :height => '100px'}
= f.file_field :image

- unless f.object.new_record?
  = f.check_box('_destroy')
  = f.label('_destroy', 'Remove')