%form
- if flash[:notice]
  .notice= flash[:notice]
 
- if @species
  %h3 Results 
  %ul
    - @species.each do |species|
      %li
        %a{:href => species_url(species)}
          %span.scientific-name= species.scientific_name
          = "(#{species.common_name})"