%h2 Showing all Species
- if flash[:notice]
  .notice= flash[:notice]
  
%ul
  - @species.each do |s|
    %li
      = link_to(s.scientific_name, species_path(s))
      (
      = link_to("edit", edit_species_path(s), :class => "action")
      ,
      = link_to("delete", species_path(s), :method => 'delete', :confirm => "Are you sure?", :class => "action")
      )