html, body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0; }

div, p, span, ul, li, form, label, input, select, option, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

body {
  margin: 1.5em 0;
  font-family: Sans-serif;
  font-size: 12px; }

h2, h3 {
  margin-top: 0.75em; }

ul {
  margin-left: 3em; }

form > ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

input[type=text] {
  font-size: inherit; }

table {
  margin-left: 1.5em; }

#wrap {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px; }

#header {
  margin-bottom: 1.5em; }
  #header a {
    color: #000;
    text-decoration: none; }
  #header h1 {
    font-size: 2em; }

#search {
  padding: 1em; }
  #search input[type=text] {
    width: 240px; }
  #search .hint {
    margin: 0.5em 0 0 1.5em; }
  #search a {
    color: #00c; }

#content {
  line-height: 1.5em;
  margin: 1.5em 0; }

#footer {
  background-color: #eee;
  padding: 1em;
  margin-top: 1.5em; }
  #footer a {
    text-decoration: none;
    color: #000; }
  #footer a:hover, #footer a:active {
    text-decoration: underline; }
  #footer ul {
    margin: 0;
    list-style-type: none; }
  #footer li {
    display: inline;
    margin-right: 1em; }

.box {
  float: left;
  width: 200px;
  padding: 1em;
  border: 1px solid #CCC;
  text-align: center;
  line-height: 1em;
  font-family: Sans-serif; }
  .box a {
    text-decoration: none;
    color: #000; }
  .box h2 {
    font-size: 1.5em;
    padding-bottom: 0.5em;
    margin: 0 0 0.5em 0;
    border-bottom: 1px solid #ccc; }
  .box span {
    color: #666; }

.boxleft {
  margin-left: 80px;
  margin-right: 60px; }

.boxmiddle {
  margin-right: 60px; }

.boxright {
  margin-right: 80px; }

.group {
  margin-bottom: 1.5em; }

.last {
  clear: right; }

.clear {
  clear: both; }

.rounded {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.scientific-name {
  font-style: italic; }

.hint {
  color: #666;
  font-size: 85%; }

.notice {
  background-color: #CFC;
  border: 1px solid #CCC;
  padding: 0.75em; }

.fieldWithErrors {
  display: inline; }
  .fieldWithErrors input {
    border: 1px solid red; }

#templates {
  display: none; }

#errorExplanation {
  background-color: #FFFFCC;
  border: 1px solid red;
  padding: 0.75em 1.5em;
  margin: 0 0 1.5em 0; }

* html .ui-autocomplete {
  width: 1px; }

.ui-autocomplete {
  border: 1px solid #000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  cursor: default;
  background-color: #fff; }
  .ui-autocomplete .ui-menu-item a {
    line-height: 1.5em;
    padding: 0 2px;
    display: block; }
  .ui-autocomplete .ui-menu-item a.ui-state-hover, .ui-autocomplete .ui-menu-item a.ui-state-active {
    background-color: #B4D5FF; }
