html, body {
  margin: 0;
  padding: 0; }

body {
  font-size: 10pt;
  font-family: Sans-serif;
  margin: 1.5em; }

#navigation ul li {
  display: inline; }

#errorExplanation {
  background-color: #FFFFCC;
  border: 1px solid red;
  padding: 0.75em 1.5em;
  margin: 0 0 1.5em 0; }

#header h1 {
  margin: 0; }
  #header h1 a {
    color: #000;
    text-decoration: none; }

a.action, #header a {
  color: #00E; }

.fieldWithErrors {
  display: inline; }
  .fieldWithErrors input {
    border: 1px solid red; }

.notice {
  background-color: #cfc;
  display: inline;
  padding: 0.75em; }

#templates {
  display: none; }

* html .ui-autocomplete {
  width: 1px; }

.ui-autocomplete {
  border: 1px solid #000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10em;
  position: absolute;
  cursor: default;
  background-color: #fff; }
  .ui-autocomplete .ui-menu-item a {
    line-height: 1.5em;
    padding: 0 2px;
    display: block; }
  .ui-autocomplete .ui-menu-item a.ui-state-hover, .ui-autocomplete .ui-menu-item a.ui-state-active {
    background-color: #B4D5FF; }
