html, body {
  margin: 0;
  padding: 0; }

body {
  font-size: 10pt;
  font-family: Sans-serif;
  margin: 1.5em; }

#navigation ul li {
  display: inline; }

#errorExplanation {
  background-color: #FFFFCC;
  border: 1px solid red;
  padding: 0.75em 1.5em;
  margin: 0 0 1.5em 0; }

#header h1 {
  margin: 0; }
  #header h1 a {
    color: #000;
    text-decoration: none; }

a.action, #header a {
  color: #00E; }

.fieldWithErrors {
  display: inline; }
  .fieldWithErrors input {
    border: 1px solid red; }
