.box.boxleft.rounded
  %h2
    %a{:href => '/search/advanced'} Find
  %span Find a species or group of species
.box.boxmiddle.rounded
  %h2
    %a{:href => '/guide'} Create
  %span Create your own field guide
.box.boxlast.rounded
  %h2
    %a{:href => '/library'} Print
  %span Browse existing field guides

.clear
More content 