= f.hidden_field(:similar_species_id)
%input{:type => "text", :class => "autocomplete", :value => f.object.scientific_name, :size => "30"}
%input{:type => 'button', :class => "action remove-subform", :value => 'Remove'} 